@import url('http://fonts.cdnfonts.com/css/seriffic');



.NewsNavBar{
    background-color: #330000;
    margin-top: 0%;
    position: relative;
    height: 40px;
  }
  


  .NewsNavBar a{
color: aliceblue;
text-decoration: none;
  }

  .NewsNavBar button{
    left: 61%;
    height: 70%;
    top: 5px;
    border-radius: 15px;
      position: relative;
  }
  .NewsNavBar input{
   left: 61%;
   height: 70%;
   top: 5px;
   border-radius: 15px;
    position: relative;
}

 
  
  .NewsNavBar li{
    padding-left: 20px;
    padding-top: 9px;
    display: inline-block;
    color: rgb(255, 219, 219);
    font-size: 15px;
    font-family: 'Seriffic', sans-serif;
    position: relative;
    text-decoration: none;
    
  }

  .NewsNavBar ul{
    margin-left: 0ch;
    left: 60%;
    padding-top: 9px;
    display: inline-block;
    color: rgb(255, 219, 219);
    font-size: 15px;
    font-family: 'Seriffic', sans-serif;
    position: relative;
    text-decoration: none;
    
  }
  
  .NewsNavBar li :hover{
    display: inline-block;
    color: rgb(255, 131, 94);
    transition: .8s;
  }

  .NewsNavBar ul :hover{
    display: inline-block;
    color: rgb(255, 131, 94);
    transition: .8s;
  }

