@import url('http://fonts.cdnfonts.com/css/salma-pro-medium-narrow');

.NewStuff {
    position: relative;
    margin-top: 0%;
    padding-top: 4rem;

    margin-bottom: 0%;
    padding-bottom: 15rem;

    
}

.NuevaNoticia{

    
    align-items: center;
    margin: auto;
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 10%;
    padding-right: 10%;
}

.NuevaNoticia label{
    font-size: 25px;
    font-style: italic;
}

.NuevaNoticia h3{
    font-size: 55px;
    text-align: center;
    color: black;
    font-family: "Century Gothic";
}